body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F1F1F1;
}

@font-face {
    font-family:Openans ;
    src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

*{
    font-family: Openans;
}

#titlep{
    text-align: center;
}

#titlep span{
    background-color: black;
    color: white;
    padding: 3px 5px;
    margin-left: 5px;
}

#titleblog{
    text-align: center;
    margin-top: 40px;
}

.allofpage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sectionmain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sectionleft{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70vw;
}

.sectionright{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
}

.cardone{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: auto;
    text-align: left;
    margin-top: 50px;
    height: auto;
}

.cardone h2{
    margin:12px;
}

.date{
    margin:12px;
    font-size: 17px;
}

.date span{
    color: grey;
}

.maintext{
    font-size: 15px;
    margin:12px;
}

.btncart{
    border: 1px solid rgb(201, 196, 196);
    background-color: white;
    padding: 12px 24px!important;
    font-size: 17px;
    margin: 12px;
    font-weight: bold;
}

.btncart:hover{
    cursor: pointer;
    background-color: #CCCCCC;
}

.comments{
    display: inline;
    float: right;
    margin: 30px;
    font-weight: bold;
}

.comments span{
    background-color: black;
    color: white;
    padding: 1px 7px;
    margin-left: 5px;
    font-size: 15px;
}

#spancircle{
    border-radius: 50%;
}

.cardtwo{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: auto;
    text-align: left;
    height: auto;
} 

.cardtwo h2{
    margin:12px;
}

.cardtwo p{
    font-size: 15px;
    margin:12px;
}

.cardthree h2{
    margin:12px;
}

.cardthree p{
    font-size: 15px;
    margin:12px;
}

.cardthree{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: auto;
    text-align: left;
    height: auto;
    margin-top: 12%;
}

.sectionchoices{
    width: 100vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: auto;
    text-align: left;
    margin-top: 25px;
}

.sectionchoicestwo{
    width: 100vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: auto;
    text-align: left;
    margin-top: 25px;
}

.choices{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.choicestwo{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.choices li img{
    float: left;
    margin-top: 10px;
}

.choices li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.choicestwo li{
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.choicestextone{
    margin-left: 80px;
    font-size: 20px;
}

.choicestext{
    margin-bottom: 10px;
    margin-left: 80px;
    margin-top: -18px;
}

.choices li:hover{
    background-color: #CCCCCC;
}

.headerchoices{
    background-color: #e7e4e4;
}

.headerchoicestwo{
    background-color: #e7e4e4;
}

.Popular{
    font-size: 20px;
}

.hashtagtwo span{
    background-color: #e7e4e4 ;
    font-size: 12px;
    margin-bottom: 16px;
    display: inline-block;
    padding:0px 8px;
    text-align: center;
}

#black{
    background-color: black;
    color: white;
    font-size: 15px;
}

.footer{
    background-color: #616161;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding:40px 20px;
}

.btnfooter{
    color: white;
    border: 0;
    padding: 12px 26px;
}

#previous{
    background-color: #818181;
    opacity: 0.5;
    cursor: not-allowed;
}

#next{
    background-color: black;
}

#next:hover{
    color: black;
    cursor: pointer;
    background-color: #CCCCCC;
}

.footer div p{
    color: white;
    margin-top: 30px;
}

.footer div p a{
    color: white;
}

@media only screen and (max-width: 1000px) {
    .sectionmain{
        flex-direction: column;
    }
    .sectionright{
        width: 100vw;
    }
    .sectionleft{
        width: 100vw;
    }
}
@media screen and (min-width:1011px) and (max-width:1278px){
    .cardthree{
        margin-top:50% ;
    }
}



